# Age

In [1]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder
from catboost import CatBoostRegressor, Pool

In [2]:
%load_ext nb_black

In [3]:
le = LabelEncoder()

In [4]:
df = pd.read_csv("../../data/titanic/prepare.csv").set_index("PassengerId")
df

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,FullName,Surname,Title,FamilySize,TicketSeries,NameSeries,SurnameSeries,TitleSeries,IsTest
PassengerId,,,,,,,,,,,,,,,,,,,,
1,0.0,3,Owen Harris,1,22.0,1,0,A/5 21171,-0.503595,NaN,2,"Braund, Mr. Owen Harris",Braund,Mr,2,2,855,100,12,0
2,1.0,1,John Bradley (Florence Briggs Thayer),0,38.0,1,0,PC 17599,0.734503,C85,0,"Cumings, Mrs. John Bradley (Florence Briggs Th...",Cumings,Mrs,2,17,601,182,13,0
3,1.0,3,Laina,0,26.0,0,0,STON/O2. 3101282,-0.490544,NaN,2,"Heikkinen, Miss. Laina",Heikkinen,Miss,1,34,690,329,9,0
4,1.0,1,Jacques Heath (Lily May Peel),0,35.0,1,0,113803,0.382925,C123,2,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",Futrelle,Mrs,2,40,541,267,13,0
5,0.0,3,William Henry,1,35.0,0,0,373450,-0.488127,NaN,2,"Allen, Mr. William Henry",Allen,Mr,1,40,1102,15,12,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1305,NaN,3,Woolf,1,NaN,0,0,A.5. 3236,-0.488127,NaN,2,"Spector, Mr. Woolf",Spector,Mr,1,5,1119,753,12,1
1306,NaN,1,Fermina,0,39.0,0,0,PC 17758,1.461829,C105,0,"Oliva y Ocana, Dona. Fermina",Oliva y Ocana,Dona,1,17,366,593,3,1
1307,NaN,3,Simon Sivertsen,1,38.5,0,0,SOTON/O.Q. 3101262,-0.503595,NaN,2,"Saether, Mr. Simon Sivertsen",Saether,Mr,1,31,973,699,12,1
1308,NaN,3,Frederick,1,NaN,0,0,359309,-0.488127,NaN,2,"Ware, Mr. Frederick",Ware,Mr,1,40,390,827,12,1
1309,NaN,3,Michael J,1,NaN,1,1,2668,-0.211473,NaN,0,"Peter, Master. Michael J",Peter,Master,3,40,799,634,8,1

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1309 entries, 1 to 1309
Data columns (total 20 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Survived       891 non-null    float64
 1   Pclass         1309 non-null   int64
 2   Name           1309 non-null   object
 3   Sex            1309 non-null   int64
 4   Age            1046 non-null   float64
 5   SibSp          1309 non-null   int64
 6   Parch          1309 non-null   int64
 7   Ticket         1309 non-null   object
 8   Fare           1309 non-null   float64
 9   Cabin          295 non-null    object
 10  Embarked       1309 non-null   int64
 11  FullName       1309 non-null   object
 12  Surname        1309 non-null   object
 13  Title          1309 non-null   object
 14  FamilySize     1309 non-null   int64
 15  TicketSeries   1309 non-null   int64
 16  NameSeries     1309 non-null   int64
 17  SurnameSeries  1309 non-null   int64
 18  TitleSeries    1309 non-null   int64
 19  IsTest         1309 non-null   int64
dtypes: float64(3), int64(11), object(6)
memory usage: 214.8+ KB

In [6]:
X = df.drop(
    [
        "Survived",
        "Name",
        "Ticket",
        "Cabin",
        "Age",
        "FullName",
        "Surname",
        "Title",
        "IsTest",
    ],
    axis=1,
)
y = df[["Age"]]
X

,Pclass,Sex,SibSp,Parch,Fare,Embarked,FamilySize,TicketSeries,NameSeries,SurnameSeries,TitleSeries
PassengerId,,,,,,,,,,,
1,3,1,1,0,-0.503595,2,2,2,855,100,12
2,1,0,1,0,0.734503,0,2,17,601,182,13
3,3,0,0,0,-0.490544,2,1,34,690,329,9
4,1,0,1,0,0.382925,2,2,40,541,267,13
5,3,1,0,0,-0.488127,2,1,40,1102,15,12
...,...,...,...,...,...,...,...,...,...,...,...
1305,3,1,0,0,-0.488127,2,1,5,1119,753,12
1306,1,0,0,0,1.461829,0,1,17,366,593,3
1307,3,1,0,0,-0.503595,2,1,31,973,699,12
1308,3,1,0,0,-0.488127,2,1,40,390,827,12
1309,3,1,1,1,-0.211473,0,3,40,799,634,8

In [7]:
y["Age"].isna().value_counts()

False    1046
True      263
Name: Age, dtype: int64

In [8]:
train_index = y[~y["Age"].isna()].index
train_index

Int64Index([   1,    2,    3,    4,    5,    7,    8,    9,   10,   11,
            ...
            1295, 1296, 1297, 1298, 1299, 1301, 1303, 1304, 1306, 1307],
           dtype='int64', name='PassengerId', length=1046)

In [9]:
X_train = X[X.index.isin(train_index)]
X_test = X[~X.index.isin(train_index)]

y_train = y[y.index.isin(train_index)]

X_train.shape, X_test.shape, y_train.shape

((1046, 11), (263, 11), (1046, 1))

In [10]:
y_train.describe()

               Age
count  1046.000000
mean     29.881138
std      14.413493
min       0.170000
25%      21.000000
50%      28.000000
75%      39.000000
max      80.000000

# Train

In [11]:
model = CatBoostRegressor()

In [12]:
model.fit(Pool(X_train, y_train), verbose=False, plot=True)

MetricVisualizer(layout=Layout(align_self='stretch', height='500px'))

# Save

In [13]:
y_preds = model.predict(X_test)
y_preds

array([32.93981523, 35.80186082, 32.92931376, 25.5508469 , 21.17866405,
       29.80763501, 49.23385054, 24.79320433, 25.72217884, 30.11292118,
       22.47638195, 32.28751774, 24.33454105, 24.0520139 , 48.02812074,
       45.68810327,  2.77559042, 30.93569534, 27.32482356, 20.892645  ,
       28.56964144, 25.52515074, 24.9825194 , 27.07435082, 18.79912387,
       32.82177213, 33.80956279,  3.28384391, 28.43082637, 27.06698017,
       27.31925684, 14.07102629, 47.68016492, 45.00474258,  7.03944434,
       10.10075159, 24.17362409, 41.68399858, 25.13174661, 32.40219737,
       30.68962316, 22.39486316, 26.64367118, 27.68800951,  7.34523174,
       26.90555803, 17.55338521, 17.63937042, 33.57717373, 50.40949834,
       35.91242671, 26.30369294, 39.17228458, 26.44446071, 35.60448858,
       42.36368441, 46.20958946, 41.74470988, 27.61758866, 34.16368165,
       29.59750058, 40.16169373, 30.39790996, 22.50087184, 15.03981293,
       40.222638  , 26.16795165, 31.98871907, 54.09124964, 29.89876282,
       25.39890738, 23.6670945 , 28.51024875, 37.57933664, 27.48813649,
       32.94406729, 30.11586882, 29.28095699,  8.91598775, 30.39398919,
       32.876082  , 37.40588682, 32.08004187, 29.12147282, 26.38160186,
       38.54232837, 24.66514002, 27.61516332, 29.27351009, 27.67838895,
       37.36367702, 32.50345822, 31.42812922, 27.19655545, 34.63496711,
       32.48413488, 38.2837866 , 34.87701717,  9.0258001 , 27.78218409,
       34.51309725, 29.11599664, 22.71519499, 42.93740585, 32.23801783,
       30.28404461, 26.11960605, 27.06004013, 35.45634439, 28.33801887,
       27.54371364, 31.3685192 , 27.2166598 , 34.04101873, 24.87390172,
       36.17478957, 35.08788904, 28.76065598, 25.85055824, 27.05157584,
       25.25190853, 26.71958754, 31.92795863, 16.47886596, 25.44168836,
       20.24167211, 27.47621796, 42.71419922, 31.72731487, 17.70017664,
       46.24599654, 28.68994899, 34.20721822, 25.91611473, 25.03577135,
       28.69967376, 26.51972785, 21.2814025 , 22.89380045, 27.12528421,
       43.1054664 , 37.61187592, 23.99369526, 27.01339981, 24.24225446,
        1.90849751, 45.80504178, 31.10886029, 25.77736929, 31.95467655,
       31.39575025, 26.75380564, 42.56771572, 32.52926718, 47.53901974,
       30.89038697, 22.27279337, 36.41722159, 34.44214904, 33.98025088,
       36.42299967, 13.30885732, 39.19847356, 37.96917486, 42.53422827,
       26.73069383, 37.41620721, 22.15807444, 29.34087663, 37.70420823,
       19.56757537, 39.81405306, 24.9823572 ,  9.53004822, 29.63883857,
       29.10357922, 11.78215352, 31.81190622, 45.55626846, 24.32601617,
       33.54455635, 24.30286318, 27.38749921, 47.44071242, 29.38263231,
       27.98225883, 33.53006026, 33.97295443, 31.97813528, 27.00837864,
       38.57825135, 28.37939048, 39.01875584, 22.83562921, 29.80885971,
       34.79409382, 30.45379973, 40.2845301 , 19.6936774 , 49.06646209,
       36.9881753 , 45.80909142, 16.35518677, 40.03331979, 34.59759875,
       44.57110471, 44.59163908, 27.54536332, 27.75685813, 29.0646544 ,
       43.93075178, 25.86220427, 24.79413178, 32.86900637, 15.52161855,
       41.78209511, 42.67538752, 22.04000113, 41.60059269, 29.70754221,
       21.83674213, 22.49650001, 26.41181067, 26.4491539 , 31.41249725,
       30.63009449,  1.94193638, 26.9424256 , 32.3246712 , 43.4654752 ,
       30.99880999, 34.45576922, 38.17530641, 22.84952947, 32.84328861,
       18.57778592, 31.43345913, 29.28210895, 29.0421107 , 26.81130726,
       28.45734822, 43.20765711, 26.35266342, 21.97703544, 31.12486611,
       27.99208613, 29.56492747, 29.71087123, 16.08781448, 40.2631584 ,
       14.56638489, 27.44382474, 31.22389029, 43.47053743, 23.53217491,
       31.22389029, 31.19218216, 40.90350458, 33.10240002, 26.28654104,
       26.99427871, 31.0733773 ,  1.3816648 ])

In [14]:
y_test = pd.DataFrame({"PassengerId": X_test.index, "Age": y_preds}).set_index(
    "PassengerId"
)
y_test

                   Age
PassengerId
6            32.939815
18           35.801861
20           32.929314
27           25.550847
29           21.178664
...                ...
1300         33.102400
1302         26.286541
1305         26.994279
1308         31.073377
1309          1.381665

[263 rows x 1 columns]

In [15]:
df["isAgePreds"] = df["Age"].isna().astype(int)

In [16]:
df.fillna(y_test, inplace=True)

In [17]:
df

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,...,FullName,Surname,Title,FamilySize,TicketSeries,NameSeries,SurnameSeries,TitleSeries,IsTest,isAgePreds
PassengerId,,,,,,,,,,,,,,,,,,,,,
1,0.0,3,Owen Harris,1,22.000000,1,0,A/5 21171,-0.503595,NaN,...,"Braund, Mr. Owen Harris",Braund,Mr,2,2,855,100,12,0,0
2,1.0,1,John Bradley (Florence Briggs Thayer),0,38.000000,1,0,PC 17599,0.734503,C85,...,"Cumings, Mrs. John Bradley (Florence Briggs Th...",Cumings,Mrs,2,17,601,182,13,0,0
3,1.0,3,Laina,0,26.000000,0,0,STON/O2. 3101282,-0.490544,NaN,...,"Heikkinen, Miss. Laina",Heikkinen,Miss,1,34,690,329,9,0,0
4,1.0,1,Jacques Heath (Lily May Peel),0,35.000000,1,0,113803,0.382925,C123,...,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",Futrelle,Mrs,2,40,541,267,13,0,0
5,0.0,3,William Henry,1,35.000000,0,0,373450,-0.488127,NaN,...,"Allen, Mr. William Henry",Allen,Mr,1,40,1102,15,12,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1305,NaN,3,Woolf,1,26.994279,0,0,A.5. 3236,-0.488127,NaN,...,"Spector, Mr. Woolf",Spector,Mr,1,5,1119,753,12,1,1
1306,NaN,1,Fermina,0,39.000000,0,0,PC 17758,1.461829,C105,...,"Oliva y Ocana, Dona. Fermina",Oliva y Ocana,Dona,1,17,366,593,3,1,0
1307,NaN,3,Simon Sivertsen,1,38.500000,0,0,SOTON/O.Q. 3101262,-0.503595,NaN,...,"Saether, Mr. Simon Sivertsen",Saether,Mr,1,31,973,699,12,1,0
1308,NaN,3,Frederick,1,31.073377,0,0,359309,-0.488127,NaN,...,"Ware, Mr. Frederick",Ware,Mr,1,40,390,827,12,1,1
1309,NaN,3,Michael J,1,1.381665,1,1,2668,-0.211473,NaN,...,"Peter, Master. Michael J",Peter,Master,3,40,799,634,8,1,1

In [18]:
df.to_csv("../../data/titanic/prepare.csv")