# Age

In [1]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder, StandardScaler
from catboost import CatBoostRegressor, Pool

In [2]:
%load_ext nb_black

In [3]:
le = LabelEncoder()
scaler = StandardScaler()

In [4]:
df = pd.read_csv("../../data/titanic/prepare.csv").set_index("PassengerId")
df

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,...,HasNamesakes,Title,FamilySize,IsAlone,TicketSeries,SurnameSeries,TitleSeries,IsTest,CabinSeries,isCabinSeriesPreds
PassengerId,,,,,,,,,,,,,,,,,,,,,
1,0.0,3,"Braund, Mr. Owen Harris",1,22.0,1,0,A/5 21171,-0.503595,NaN,...,0,Mr,2,0,0,100,2,0,5,1
2,1.0,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",0,38.0,1,0,PC 17599,0.734503,C85,...,0,Mrs,2,0,12,182,3,0,2,0
3,1.0,3,"Heikkinen, Miss. Laina",0,26.0,0,0,STON/O2. 3101282,-0.490544,NaN,...,0,Miss,1,1,21,329,1,0,4,1
4,1.0,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",0,35.0,1,0,113803,0.382925,C123,...,0,Mrs,2,0,26,267,3,0,2,0
5,0.0,3,"Allen, Mr. William Henry",1,35.0,0,0,373450,-0.488127,NaN,...,0,Mr,1,1,26,15,2,0,5,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1305,NaN,3,"Spector, Mr. Woolf",1,NaN,0,0,A.5. 3236,-0.488127,NaN,...,0,Mr,1,1,2,753,2,1,5,1
1306,NaN,1,"Oliva y Ocana, Dona. Fermina",0,39.0,0,0,PC 17758,1.461829,C105,...,0,Other,1,1,12,593,4,1,2,0
1307,NaN,3,"Saether, Mr. Simon Sivertsen",1,38.5,0,0,SOTON/O.Q. 3101262,-0.503595,NaN,...,0,Mr,1,1,19,699,2,1,4,1
1308,NaN,3,"Ware, Mr. Frederick",1,NaN,0,0,359309,-0.488127,NaN,...,0,Mr,1,1,26,827,2,1,5,1
1309,NaN,3,"Peter, Master. Michael J",1,NaN,1,1,2668,-0.211473,NaN,...,0,Master,3,0,26,634,0,1,5,1

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1309 entries, 1 to 1309
Data columns (total 22 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Survived            891 non-null    float64
 1   Pclass              1309 non-null   int64
 2   Name                1309 non-null   object
 3   Sex                 1309 non-null   int64
 4   Age                 1046 non-null   float64
 5   SibSp               1309 non-null   int64
 6   Parch               1309 non-null   int64
 7   Ticket              1309 non-null   object
 8   Fare                1309 non-null   float64
 9   Cabin               295 non-null    object
 10  Embarked            1309 non-null   int64
 11  Surname             1309 non-null   object
 12  HasNamesakes        1309 non-null   int64
 13  Title               1309 non-null   object
 14  FamilySize          1309 non-null   int64
 15  IsAlone             1309 non-null   int64
 16  TicketSeries        1309 non-null   int64
 17  SurnameSeries       1309 non-null   int64
 18  TitleSeries         1309 non-null   int64
 19  IsTest              1309 non-null   int64
 20  CabinSeries         1309 non-null   int64
 21  isCabinSeriesPreds  1309 non-null   int64
dtypes: float64(3), int64(14), object(5)
memory usage: 235.2+ KB

In [6]:
X = df[
    [
        "Pclass",
        "Sex",
        "SibSp",
        "Parch",
        "Fare",
        "Embarked",
        "HasNamesakes",
        "FamilySize",
        "IsAlone",
        "TicketSeries",
        "SurnameSeries",
        "TitleSeries",
    ]
]
y = df[["Age"]]
X

,Pclass,Sex,SibSp,Parch,Fare,Embarked,HasNamesakes,FamilySize,IsAlone,TicketSeries,SurnameSeries,TitleSeries
PassengerId,,,,,,,,,,,,
1,3,1,1,0,-0.503595,2,0,2,0,0,100,2
2,1,0,1,0,0.734503,0,0,2,0,12,182,3
3,3,0,0,0,-0.490544,2,0,1,1,21,329,1
4,1,0,1,0,0.382925,2,0,2,0,26,267,3
5,3,1,0,0,-0.488127,2,0,1,1,26,15,2
...,...,...,...,...,...,...,...,...,...,...,...,...
1305,3,1,0,0,-0.488127,2,0,1,1,2,753,2
1306,1,0,0,0,1.461829,0,0,1,1,12,593,4
1307,3,1,0,0,-0.503595,2,0,1,1,19,699,2
1308,3,1,0,0,-0.488127,2,0,1,1,26,827,2
1309,3,1,1,1,-0.211473,0,0,3,0,26,634,0

In [7]:
X.columns

Index(['Pclass', 'Sex', 'SibSp', 'Parch', 'Fare', 'Embarked', 'HasNamesakes',
       'FamilySize', 'IsAlone', 'TicketSeries', 'SurnameSeries',
       'TitleSeries'],
      dtype='object')

In [8]:
y["Age"].isna().value_counts()

False    1046
True      263
Name: Age, dtype: int64

In [9]:
train_index = y[~y["Age"].isna()].index
train_index

Int64Index([   1,    2,    3,    4,    5,    7,    8,    9,   10,   11,
            ...
            1295, 1296, 1297, 1298, 1299, 1301, 1303, 1304, 1306, 1307],
           dtype='int64', name='PassengerId', length=1046)

In [10]:
X_train = X[X.index.isin(train_index)]
X_test = X[~X.index.isin(train_index)]

y_train = y[y.index.isin(train_index)]

X_train.shape, X_test.shape, y_train.shape

((1046, 12), (263, 12), (1046, 1))

In [11]:
y_train.describe()

               Age
count  1046.000000
mean     29.881138
std      14.413493
min       0.170000
25%      21.000000
50%      28.000000
75%      39.000000
max      80.000000

# Train

In [12]:
model = CatBoostRegressor()

In [13]:
model.fit(Pool(X_train, y_train), verbose=False, plot=True)

MetricVisualizer(layout=Layout(align_self='stretch', height='500px'))

# Save

In [14]:
y_preds = model.predict(X_test)
y_preds

array([33.53489652, 32.96024999, 33.12233242, 25.47152669, 23.829004  ,
       32.49714116, 48.78045333, 26.04002535, 26.30571451, 29.71503131,
       28.93151475, 34.23077541, 26.12666031, 25.24828888, 48.67827367,
       41.07694518,  2.74682305, 30.30999183, 28.98117409, 20.98741102,
       29.67672208, 27.31515893, 26.90241448, 26.99983261, 15.50912671,
       34.87020029, 36.29851759,  1.71071091, 31.62634089, 30.0070115 ,
       29.38731337, 13.07103127, 44.5097145 , 59.47550304,  5.59867064,
       13.2111642 , 23.87084613, 39.81145045, 28.30960831, 35.3019055 ,
       31.12786288, 25.48594178, 34.10715267, 27.58622509,  7.51671011,
       22.23216118, 12.29798988, 16.96574563, 28.42536084, 47.78428471,
       38.06867917, 28.06196395, 41.99134731, 27.25213162, 35.55369062,
       48.78431183, 41.46761139, 43.75929818, 30.95046201, 29.32952348,
       29.7442169 , 37.47189755, 30.7180485 , 25.48594178, 14.58501321,
       40.20667465, 27.17629751, 28.07285992, 48.56844921, 32.9771824 ,
       23.83362566, 22.96045051, 31.30261214, 30.44931195, 29.21790725,
       31.74906604, 27.35357453, 31.45591932,  7.51671011, 26.43492816,
       33.00034125, 31.73509855, 37.35960558, 26.09285124, 31.88885896,
       36.74735654, 27.79829975, 30.35391586, 30.79176728, 25.85621305,
       39.10403419, 35.23575745, 31.85863584, 25.33582967, 29.57664386,
       28.51058345, 38.10391182, 32.46606328,  7.51671011, 30.79176728,
       30.19162292, 31.02357398, 23.92206489, 42.67967037, 30.06141714,
       33.94185501, 26.26324451, 24.67166126, 31.18984055, 29.78240437,
       25.73566915, 30.39584711, 24.42585191, 31.69719562, 30.84834086,
       35.12957467, 28.22683141, 25.28501596, 27.29077314, 30.95046201,
       25.46847167, 24.13987141, 31.30149539, 19.66645615, 26.86306116,
       24.00348603, 30.35683142, 40.99199824, 30.77746105, 16.96574563,
       37.97756333, 32.15784499, 43.04667579, 28.7798241 , 23.75463979,
       29.44019217, 27.48757026, 22.60143496, 27.75322283, 27.74618195,
       39.98221685, 30.6076334 , 23.33638874, 28.14381188, 22.53646845,
        2.74682305, 48.17946729, 36.10296241, 24.62628436, 37.82584949,
       32.51121861, 27.53202498, 43.82714422, 28.72846491, 50.19592132,
       31.03394177, 25.93473175, 40.91402438, 33.40579073, 29.6965904 ,
       37.75079127, 13.2111642 , 46.32365939, 40.28925963, 35.77711813,
       28.14381188, 36.39546915, 26.23067964, 30.12982031, 42.65338902,
       25.48594178, 36.68687946, 25.70678124, 13.2111642 , 26.51749529,
       29.62532152,  7.67694201, 32.76198047, 41.83654942, 25.24828888,
       30.82482237, 23.70013904, 28.56273965, 43.85162452, 34.02553505,
       32.00790776, 28.06662717, 33.17425361, 29.80013432, 27.17629751,
       40.6918682 , 28.96455922, 38.36724994, 24.88094898, 30.59414595,
       36.74735654, 34.83951704, 29.43947867, 23.63740148, 41.78608591,
       34.10715267, 39.86596235, 14.58501321, 37.72278243, 32.80519024,
       45.43816216, 43.9849909 , 29.34118302, 24.14154642, 36.01467531,
       48.14894026, 29.87272711, 29.78240437, 38.95395498, 13.2111642 ,
       44.20120336, 37.42510036, 25.78033843, 36.00208228, 30.44970905,
       23.6439609 , 32.92152365, 26.10381764, 27.45385696, 34.76320957,
       32.67142135,  5.08730854, 25.54329613, 32.20106278, 35.2057422 ,
       31.59215203, 35.91790918, 31.47345639, 25.02428056, 36.00771881,
       19.52555544, 26.17207047, 26.91470119, 29.2311651 , 26.98074974,
       26.63772922, 38.99756877, 25.63412289, 25.24828888, 32.06946505,
       27.53953497, 28.95364444, 30.06683476, 12.44368162, 41.27494978,
       14.03028826, 30.14932159, 35.23575745, 44.92108902, 23.92255467,
       35.23575745, 35.86366786, 40.44360596, 22.87364871, 25.81523564,
       31.36301162, 28.74453288,  3.40437838])

In [15]:
y_test = pd.DataFrame({"PassengerId": X_test.index, "Age": y_preds}).set_index(
    "PassengerId"
)
y_test

                   Age
PassengerId
6            33.534897
18           32.960250
20           33.122332
27           25.471527
29           23.829004
...                ...
1300         22.873649
1302         25.815236
1305         31.363012
1308         28.744533
1309          3.404378

[263 rows x 1 columns]

In [16]:
df["isAgePreds"] = df["Age"].isna().astype(int)

In [17]:
df.fillna(y_test, inplace=True)

In [18]:
# normalize
df["Age"] = scaler.fit_transform(df[["Age"]])

In [19]:
df

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,...,Title,FamilySize,IsAlone,TicketSeries,SurnameSeries,TitleSeries,IsTest,CabinSeries,isCabinSeriesPreds,isAgePreds
PassengerId,,,,,,,,,,,,,,,,,,,,,
1,0.0,3,"Braund, Mr. Owen Harris",1,-0.586673,1,0,A/5 21171,-0.503595,NaN,...,Mr,2,0,0,100,2,0,5,1,0
2,1.0,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",0,0.599396,1,0,PC 17599,0.734503,C85,...,Mrs,2,0,12,182,3,0,2,0,0
3,1.0,3,"Heikkinen, Miss. Laina",0,-0.290155,0,0,STON/O2. 3101282,-0.490544,NaN,...,Miss,1,1,21,329,1,0,4,1,0
4,1.0,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",0,0.377008,1,0,113803,0.382925,C123,...,Mrs,2,0,26,267,3,0,2,0,0
5,0.0,3,"Allen, Mr. William Henry",1,0.377008,0,0,373450,-0.488127,NaN,...,Mr,1,1,26,15,2,0,5,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1305,NaN,3,"Spector, Mr. Woolf",1,0.107401,0,0,A.5. 3236,-0.488127,NaN,...,Mr,1,1,2,753,2,1,5,1,1
1306,NaN,1,"Oliva y Ocana, Dona. Fermina",0,0.673526,0,0,PC 17758,1.461829,C105,...,Other,1,1,12,593,4,1,2,0,0
1307,NaN,3,"Saether, Mr. Simon Sivertsen",1,0.636461,0,0,SOTON/O.Q. 3101262,-0.503595,NaN,...,Mr,1,1,19,699,2,1,4,1,0
1308,NaN,3,"Ware, Mr. Frederick",1,-0.086705,0,0,359309,-0.488127,NaN,...,Mr,1,1,26,827,2,1,5,1,1
1309,NaN,3,"Peter, Master. Michael J",1,-1.965153,1,1,2668,-0.211473,NaN,...,Master,3,0,26,634,0,1,5,1,1

In [20]:
df.to_csv("../../data/titanic/prepare.csv")