# Prepare data

In [1]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder, StandardScaler

In [2]:
%load_ext nb_black

In [3]:
le = LabelEncoder()
scaler = StandardScaler()

## Load

In [4]:
gender_submission = pd.read_csv(
    "../../data/titanic/gender_submission.csv", index_col="PassengerId"
)
gender_submission

             Survived
PassengerId
892                 0
893                 1
894                 0
895                 0
896                 1
...               ...
1305                0
1306                1
1307                0
1308                0
1309                0

[418 rows x 1 columns]

In [5]:
train_df = pd.read_csv("../../data/titanic/train.csv", index_col="PassengerId")
train_df

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,,
1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...
887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [6]:
test_df = pd.read_csv("../../data/titanic/test.csv", index_col="PassengerId")
test_df

,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,
892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S
...,...,...,...,...,...,...,...,...,...,...
1305,3,"Spector, Mr. Woolf",male,NaN,0,0,A.5. 3236,8.0500,NaN,S
1306,1,"Oliva y Ocana, Dona. Fermina",female,39.0,0,0,PC 17758,108.9000,C105,C
1307,3,"Saether, Mr. Simon Sivertsen",male,38.5,0,0,SOTON/O.Q. 3101262,7.2500,NaN,S
1308,3,"Ware, Mr. Frederick",male,NaN,0,0,359309,8.0500,NaN,S
1309,3,"Peter, Master. Michael J",male,NaN,1,1,2668,22.3583,NaN,C

In [7]:
df = pd.concat([train_df, test_df])
df

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,,
1,0.0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
2,1.0,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
3,1.0,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
4,1.0,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
5,0.0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...
1305,NaN,3,"Spector, Mr. Woolf",male,NaN,0,0,A.5. 3236,8.0500,NaN,S
1306,NaN,1,"Oliva y Ocana, Dona. Fermina",female,39.0,0,0,PC 17758,108.9000,C105,C
1307,NaN,3,"Saether, Mr. Simon Sivertsen",male,38.5,0,0,SOTON/O.Q. 3101262,7.2500,NaN,S
1308,NaN,3,"Ware, Mr. Frederick",male,NaN,0,0,359309,8.0500,NaN,S
1309,NaN,3,"Peter, Master. Michael J",male,NaN,1,1,2668,22.3583,NaN,C

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1309 entries, 1 to 1309
Data columns (total 11 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Survived  891 non-null    float64
 1   Pclass    1309 non-null   int64
 2   Name      1309 non-null   object
 3   Sex       1309 non-null   object
 4   Age       1046 non-null   float64
 5   SibSp     1309 non-null   int64
 6   Parch     1309 non-null   int64
 7   Ticket    1309 non-null   object
 8   Fare      1308 non-null   float64
 9   Cabin     295 non-null    object
 10  Embarked  1307 non-null   object
dtypes: float64(3), int64(3), object(5)
memory usage: 122.7+ KB

In [9]:
(df.isna().sum() / len(df)).sort_values(ascending=False)

Cabin       0.774637
Survived    0.319328
Age         0.200917
Embarked    0.001528
Fare        0.000764
Pclass      0.000000
Name        0.000000
Sex         0.000000
SibSp       0.000000
Parch       0.000000
Ticket      0.000000
dtype: float64

# Prepare

In [10]:
df

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,,
1,0.0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
2,1.0,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
3,1.0,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
4,1.0,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
5,0.0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...
1305,NaN,3,"Spector, Mr. Woolf",male,NaN,0,0,A.5. 3236,8.0500,NaN,S
1306,NaN,1,"Oliva y Ocana, Dona. Fermina",female,39.0,0,0,PC 17758,108.9000,C105,C
1307,NaN,3,"Saether, Mr. Simon Sivertsen",male,38.5,0,0,SOTON/O.Q. 3101262,7.2500,NaN,S
1308,NaN,3,"Ware, Mr. Frederick",male,NaN,0,0,359309,8.0500,NaN,S
1309,NaN,3,"Peter, Master. Michael J",male,NaN,1,1,2668,22.3583,NaN,C

## Pclass

In [11]:
df["Pclass"].value_counts(dropna=False, normalize=True)

3    0.541635
1    0.246753
2    0.211612
Name: Pclass, dtype: float64

## Name

In [12]:
df["FullName"] = df["Name"]

In [13]:
df["Surname"] = df["FullName"].str.split(",").str[0].str.strip()
df["Surname"].value_counts()

Andersson    11
Sage         11
Goodwin       8
Asplund       8
Davies        7
             ..
Milling       1
Maisner       1
Goncalves     1
Campbell      1
Saether       1
Name: Surname, Length: 875, dtype: int64

In [14]:
df["Title"] = df["FullName"].str.split(",").str[1].str.split(".").str[0].str.strip()
df["Title"].value_counts()

Mr              757
Miss            260
Mrs             197
Master           61
Rev               8
Dr                8
Col               4
Mlle              2
Major             2
Ms                2
Lady              1
Sir               1
Mme               1
Don               1
Capt              1
the Countess      1
Jonkheer          1
Dona              1
Name: Title, dtype: int64

In [15]:
df["Name"] = df["FullName"].str.split(",").str[1].str.split(".").str[1].str.strip()
df["Name"].value_counts()

John                                15
William                             11
Patrick                             10
James                                9
Mary                                 7
                                    ..
Johan Henrik Johannesson             1
Benjamin (Esther Ada Bloomfield)     1
Leon                                 1
Johan Emil                           1
Michael J                            1
Name: Name, Length: 1126, dtype: int64

## Sex

In [16]:
df["Sex"] = (df["Sex"] == "male").astype(int)
df["Sex"].value_counts()

1    843
0    466
Name: Sex, dtype: int64

## SibSp / Parch (of siblings / of parents)

In [17]:
df["SibSp"].describe()

count    1309.000000
mean        0.498854
std         1.041658
min         0.000000
25%         0.000000
50%         0.000000
75%         1.000000
max         8.000000
Name: SibSp, dtype: float64

In [18]:
df["Parch"].describe()

count    1309.000000
mean        0.385027
std         0.865560
min         0.000000
25%         0.000000
50%         0.000000
75%         0.000000
max         9.000000
Name: Parch, dtype: float64

In [19]:
df["FamilySize"] = df["SibSp"] + df["Parch"] + 1

## Ticket

In [20]:
df["TicketSeries"] = df["Ticket"].str.split(" ").str[0]
df["TicketSeries"]

PassengerId
1              A/5
2               PC
3         STON/O2.
4           113803
5           373450
           ...
1305          A.5.
1306            PC
1307    SOTON/O.Q.
1308        359309
1309          2668
Name: TicketSeries, Length: 1309, dtype: object

In [21]:
df["TicketSeries"] = df["TicketSeries"].map(
    lambda x: "X" if x.isnumeric() else x.replace(".", "")
)
df["TicketSeries"].value_counts()

X           957
PC           92
CA           68
A/5          25
SOTON/OQ     24
W/C          15
SC/PARIS     14
STON/O       14
FCC           9
A/4           9
C             8
SOC           7
SO/PP         7
STON/O2       7
SC/AH         5
SC/Paris      5
PP            4
LINE          4
FC            3
SOTON/O2      3
A5            3
SW/PP         2
P/PP          2
SC            2
WEP           2
WE/P          2
SC/A4         2
Fa            1
CA/SOTON      1
LP            1
A             1
AQ/4          1
STON/OQ       1
SC/A3         1
SO/C          1
SP            1
SOP           1
A/S           1
SCO/W         1
A4            1
AQ/3          1
Name: TicketSeries, dtype: int64

## Fare

In [22]:
df["Fare"].describe()

count    1308.000000
mean       33.295479
std        51.758668
min         0.000000
25%         7.895800
50%        14.454200
75%        31.275000
max       512.329200
Name: Fare, dtype: float64

In [23]:
df[df["Fare"].isna()]

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,FullName,Surname,Title,FamilySize,TicketSeries
PassengerId,,,,,,,,,,,,,,,,
1044,NaN,3,Thomas,1,60.5,0,0,3701,NaN,NaN,S,"Storey, Mr. Thomas",Storey,Mr,1,X

In [24]:
df["Fare"].fillna(df["Fare"].mean(), inplace=True)

In [25]:
df["Fare"] = scaler.fit_transform(df[["Fare"]])
df["Fare"].describe()

count    1.309000e+03
mean     1.602996e-17
std      1.000382e+00
min     -6.437751e-01
25%     -4.911082e-01
50%     -3.643001e-01
75%     -3.906640e-02
max      9.262219e+00
Name: Fare, dtype: float64

## Embarked

In [26]:
df["Embarked"].value_counts(dropna=False, normalize=True)

S      0.698243
C      0.206264
Q      0.093965
NaN    0.001528
Name: Embarked, dtype: float64

In [27]:
df[df["Embarked"].isna()]

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,FullName,Surname,Title,FamilySize,TicketSeries
PassengerId,,,,,,,,,,,,,,,,
62,1.0,1,Amelie,0,38.0,0,0,113572,0.903042,B28,NaN,"Icard, Miss. Amelie",Icard,Miss,1,X
830,1.0,1,George Nelson (Martha Evelyn),0,62.0,0,0,113572,0.903042,B28,NaN,"Stone, Mrs. George Nelson (Martha Evelyn)",Stone,Mrs,1,X

In [28]:
df["Embarked"].fillna("S", inplace=True)

In [29]:
df["Embarked"] = le.fit_transform(df["Embarked"])

## Label encoder

In [30]:
df["NameSeries"] = le.fit_transform(df["Name"])
df["SurnameSeries"] = le.fit_transform(df["Surname"])
df["TitleSeries"] = le.fit_transform(df["Title"])
df["TicketSeries"] = le.fit_transform(df["TicketSeries"])

# Save

In [31]:
# mark test data
df["IsTest"] = df.index.isin(test_df.index).astype(int)

In [32]:
df

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,FullName,Surname,Title,FamilySize,TicketSeries,NameSeries,SurnameSeries,TitleSeries,IsTest
PassengerId,,,,,,,,,,,,,,,,,,,,
1,0.0,3,Owen Harris,1,22.0,1,0,A/5 21171,-0.503595,NaN,2,"Braund, Mr. Owen Harris",Braund,Mr,2,2,855,100,12,0
2,1.0,1,John Bradley (Florence Briggs Thayer),0,38.0,1,0,PC 17599,0.734503,C85,0,"Cumings, Mrs. John Bradley (Florence Briggs Th...",Cumings,Mrs,2,17,601,182,13,0
3,1.0,3,Laina,0,26.0,0,0,STON/O2. 3101282,-0.490544,NaN,2,"Heikkinen, Miss. Laina",Heikkinen,Miss,1,34,690,329,9,0
4,1.0,1,Jacques Heath (Lily May Peel),0,35.0,1,0,113803,0.382925,C123,2,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",Futrelle,Mrs,2,40,541,267,13,0
5,0.0,3,William Henry,1,35.0,0,0,373450,-0.488127,NaN,2,"Allen, Mr. William Henry",Allen,Mr,1,40,1102,15,12,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1305,NaN,3,Woolf,1,NaN,0,0,A.5. 3236,-0.488127,NaN,2,"Spector, Mr. Woolf",Spector,Mr,1,5,1119,753,12,1
1306,NaN,1,Fermina,0,39.0,0,0,PC 17758,1.461829,C105,0,"Oliva y Ocana, Dona. Fermina",Oliva y Ocana,Dona,1,17,366,593,3,1
1307,NaN,3,Simon Sivertsen,1,38.5,0,0,SOTON/O.Q. 3101262,-0.503595,NaN,2,"Saether, Mr. Simon Sivertsen",Saether,Mr,1,31,973,699,12,1
1308,NaN,3,Frederick,1,NaN,0,0,359309,-0.488127,NaN,2,"Ware, Mr. Frederick",Ware,Mr,1,40,390,827,12,1
1309,NaN,3,Michael J,1,NaN,1,1,2668,-0.211473,NaN,0,"Peter, Master. Michael J",Peter,Master,3,40,799,634,8,1

In [33]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1309 entries, 1 to 1309
Data columns (total 20 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Survived       891 non-null    float64
 1   Pclass         1309 non-null   int64
 2   Name           1309 non-null   object
 3   Sex            1309 non-null   int64
 4   Age            1046 non-null   float64
 5   SibSp          1309 non-null   int64
 6   Parch          1309 non-null   int64
 7   Ticket         1309 non-null   object
 8   Fare           1309 non-null   float64
 9   Cabin          295 non-null    object
 10  Embarked       1309 non-null   int64
 11  FullName       1309 non-null   object
 12  Surname        1309 non-null   object
 13  Title          1309 non-null   object
 14  FamilySize     1309 non-null   int64
 15  TicketSeries   1309 non-null   int64
 16  NameSeries     1309 non-null   int64
 17  SurnameSeries  1309 non-null   int64
 18  TitleSeries    1309 non-null   int64
 19  IsTest         1309 non-null   int64
dtypes: float64(3), int64(11), object(6)
memory usage: 214.8+ KB

In [34]:
(df.isna().sum() / len(df)).sort_values(ascending=False)

Cabin            0.774637
Survived         0.319328
Age              0.200917
FullName         0.000000
TitleSeries      0.000000
SurnameSeries    0.000000
NameSeries       0.000000
TicketSeries     0.000000
FamilySize       0.000000
Title            0.000000
Surname          0.000000
Embarked         0.000000
Pclass           0.000000
Fare             0.000000
Ticket           0.000000
Parch            0.000000
SibSp            0.000000
Sex              0.000000
Name             0.000000
IsTest           0.000000
dtype: float64

In [35]:
df.to_csv("../../data/titanic/prepare.csv")