# Age

In [1]:
import jupyter_black
import pandas as pd
from catboost import CatBoostRegressor, Pool
from sklearn.model_selection import train_test_split

In [2]:
jupyter_black.load()

# Prepare

In [3]:
df = pd.read_csv("./datasets/prepared.csv").set_index("PassengerId")
df

,Survived,Pclass,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,isTest,Name_FirstName,Name_Title,Name_LastName,FamilySize,isAlone
PassengerId,,,,,,,,,,,,,,,,
1,0.0,3,1,22.0,1,0,0,-0.503595,NaN,2,0,29,6,150,2,0
2,1.0,1,0,38.0,1,0,12,0.734503,C85,0,0,61,7,104,2,0
3,1.0,3,0,26.0,0,0,21,-0.490544,NaN,2,0,175,4,149,1,1
4,1.0,1,0,35.0,1,0,26,0.382925,C123,2,0,88,7,96,2,0
5,0.0,3,1,35.0,0,0,26,-0.488127,NaN,2,0,5,6,182,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1305,NaN,3,1,NaN,0,0,2,-0.488127,NaN,2,1,175,6,149,1,1
1306,NaN,1,0,39.0,0,0,12,1.461829,C105,0,1,175,9,149,1,1
1307,NaN,3,1,38.5,0,0,19,-0.503595,NaN,2,1,175,6,149,1,1
1308,NaN,3,1,NaN,0,0,26,-0.488127,NaN,2,1,220,6,72,1,1
1309,NaN,3,1,NaN,1,1,26,-0.211473,NaN,0,1,181,3,149,3,0

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1309 entries, 1 to 1309
Data columns (total 16 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Survived        891 non-null    float64
 1   Pclass          1309 non-null   int64
 2   Sex             1309 non-null   int64
 3   Age             1046 non-null   float64
 4   SibSp           1309 non-null   int64
 5   Parch           1309 non-null   int64
 6   Ticket          1309 non-null   int64
 7   Fare            1309 non-null   float64
 8   Cabin           295 non-null    object
 9   Embarked        1309 non-null   int64
 10  isTest          1309 non-null   int64
 11  Name_FirstName  1309 non-null   int64
 12  Name_Title      1309 non-null   int64
 13  Name_LastName   1309 non-null   int64
 14  FamilySize      1309 non-null   int64
 15  isAlone         1309 non-null   int64
dtypes: float64(3), int64(12), object(1)
memory usage: 173.9+ KB

In [5]:
X = df.drop(["Survived", "Age", "Cabin", "isTest"], axis=1)
X

,Pclass,Sex,SibSp,Parch,Ticket,Fare,Embarked,Name_FirstName,Name_Title,Name_LastName,FamilySize,isAlone
PassengerId,,,,,,,,,,,,
1,3,1,1,0,0,-0.503595,2,29,6,150,2,0
2,1,0,1,0,12,0.734503,0,61,7,104,2,0
3,3,0,0,0,21,-0.490544,2,175,4,149,1,1
4,1,0,1,0,26,0.382925,2,88,7,96,2,0
5,3,1,0,0,26,-0.488127,2,5,6,182,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...
1305,3,1,0,0,2,-0.488127,2,175,6,149,1,1
1306,1,0,0,0,12,1.461829,0,175,9,149,1,1
1307,3,1,0,0,19,-0.503595,2,175,6,149,1,1
1308,3,1,0,0,26,-0.488127,2,220,6,72,1,1
1309,3,1,1,1,26,-0.211473,0,181,3,149,3,0

In [6]:
y = df[["Age"]]
y

              Age
PassengerId
1            22.0
2            38.0
3            26.0
4            35.0
5            35.0
...           ...
1305          NaN
1306         39.0
1307         38.5
1308          NaN
1309          NaN

[1309 rows x 1 columns]

In [7]:
test_ids = y[y["Age"].isna()].index

X_train = X[~X.index.isin(test_ids)]
X_test = X[X.index.isin(test_ids)]

y_train = y[~y.index.isin(test_ids)]
y_test = y[y.index.isin(test_ids)]

X_train.shape, X_test.shape, y_train.shape, y_test.shape

((1046, 12), (263, 12), (1046, 1), (263, 1))

In [8]:
X_train, X_true, y_train, y_true = train_test_split(
    X_train, y_train, test_size=0.1, random_state=42
)
X_train.shape, X_true.shape, y_train.shape, y_true.shape

((941, 12), (105, 12), (941, 1), (105, 1))

# Train

In [9]:
X_train, X_valid, y_train, y_valid = train_test_split(
    X_train, y_train, test_size=0.1, random_state=42
)
X_train.shape, X_valid.shape, y_train.shape, y_valid.shape

((846, 12), (95, 12), (846, 1), (95, 1))

In [10]:
model = CatBoostRegressor()

In [11]:
model.fit(Pool(X_train, y_train), verbose=False, plot=True)

MetricVisualizer(layout=Layout(align_self='stretch', height='500px'))

# Predict

In [12]:
y_preds = model.predict(X_test)
y_preds

array([32.33351487, 31.26494687, 34.70994854, 26.51877661, 24.0597382 ,
       28.18379969, 57.43868711, 23.97622705, 28.29306124, 27.08594279,
       24.84250017, 27.30296372, 27.07755367, 23.33687272, 42.46771652,
       38.43322274,  3.02990754, 29.40599666, 28.17931677, 22.57463528,
       28.25814273, 28.4405472 , 24.24126495, 27.22283648, 23.17840256,
       28.72383725, 30.7989257 ,  7.97009524, 27.88666915, 31.17235093,
       26.50592764, 11.0763311 , 40.7599856 , 41.13328952,  5.93816195,
        9.88036828, 28.89850597, 46.14004742, 31.36529778, 32.35641045,
       24.10485751, 29.93875011, 24.17539074, 28.23461883,  5.25273938,
       23.44508222, 10.92902857, 18.27237758, 33.82431932, 43.9618699 ,
       40.60526185, 23.9074518 , 40.26802156, 24.08270091, 43.13786699,
       40.13624037, 39.8585056 , 43.23192303, 25.29602768, 26.32750772,
       27.22887744, 24.84080989, 32.06237396, 30.72403051, 14.73699488,
       42.70796671, 28.23461883, 29.83087784, 44.45612126, 26.51877661,
       23.66423949, 22.3107434 , 36.31820216, 33.17997239, 23.9074518 ,
       34.10027995, 28.23461883, 29.02524892,  5.25273938, 28.23461883,
       30.84945672, 35.64681744, 41.34263722, 27.08594279, 32.3385151 ,
       36.51904248, 25.96461419, 27.68390014, 26.50375306, 26.79367471,
       39.54810838, 30.92456567, 30.27778112, 30.11420905, 36.94749139,
       37.45651486, 45.90628476, 33.47098431, 11.89525109, 26.50375306,
       28.97978713, 33.67171446, 26.41593982, 36.59093176, 28.51959449,
       28.70044363, 28.89002274, 25.47404612, 43.88145604, 25.47404612,
       27.08709787, 31.30448093, 28.72898433, 30.20776262, 35.23190787,
       35.15271053, 29.74203591, 24.69474567, 26.89583898, 24.28358919,
       19.96360353, 25.84098996, 26.79367471, 17.73874889, 28.89004347,
       25.9348836 , 28.23461883, 46.69241298, 31.14235801, 17.94086155,
       40.60426216, 29.02524892, 38.3684318 , 25.94169436, 29.09003907,
       29.80996221, 28.23461883, 20.00638987, 24.09455632, 27.76218137,
       42.25014691, 33.47098431, 23.60418085, 26.734975  , 22.26044492,
        0.3889867 , 42.87000177, 28.12690883, 22.23287049, 33.48454341,
       28.23461883, 26.90694752, 46.86671053, 35.68225586, 50.01308043,
       27.72728408, 26.3389466 , 30.77644841, 33.47250329, 32.32987697,
       33.23651202,  9.66882825, 38.36657936, 40.71991135, 43.2237438 ,
       28.71395329, 35.15271053, 29.62174493, 27.81054724, 40.90085506,
       27.3057145 , 42.6884323 , 25.47404612, 10.45608351, 27.56699684,
       28.23461883, 13.88523581, 28.23461883, 46.44851556, 27.99772927,
       32.94936689, 22.98702764, 29.09003907, 48.11851261, 30.52562656,
       28.92671782, 30.81215442, 31.94215373, 40.48107918, 28.23461883,
       38.17568613, 24.52611194, 41.52479814, 27.76218137, 29.96693025,
       30.75326311, 36.80983936, 26.58390815, 23.98595112, 55.13420121,
       34.37730361, 40.60426216, 14.73699488, 44.32230139, 36.07755104,
       46.20889533, 42.89046949, 27.08594279, 22.83309271, 34.97833765,
       45.54594369, 24.34741709, 25.47404612, 30.52562656,  9.66882825,
       38.52826689, 37.59396122, 21.66186278, 40.37196163, 28.99407767,
       23.65183992, 24.22690878, 29.57636534, 27.07755367, 28.66448098,
       27.80505807,  2.16462187, 23.09551076, 38.22047494, 35.25854269,
       28.23461883, 41.11665291, 36.42569878, 27.45334   , 29.62765687,
       17.48062912, 34.87405104, 22.95189431, 34.59733647, 27.90628696,
       25.35645511, 49.374561  , 25.47404612, 24.86305975, 30.20147249,
       27.8452103 , 33.60437595, 28.47900053, 16.35707781, 38.76348184,
        8.39373074, 28.6004523 , 30.52562656, 39.32088571, 24.39426526,
       30.67809663, 35.08854249, 34.7148103 , 31.48884275, 23.9074518 ,
       39.93430711, 29.6466397 , -1.44353737])

In [13]:
y_test = pd.DataFrame({"PassengerId": X_test.index, "Age": y_preds}).set_index(
    "PassengerId"
)
y_test

                   Age
PassengerId
6            32.333515
18           31.264947
20           34.709949
27           26.518777
29           24.059738
...                ...
1300         31.488843
1302         23.907452
1305         39.934307
1308         29.646640
1309         -1.443537

[263 rows x 1 columns]

In [14]:
df1 = df[["Age"]].copy()
df1

              Age
PassengerId
1            22.0
2            38.0
3            26.0
4            35.0
5            35.0
...           ...
1305          NaN
1306         39.0
1307         38.5
1308          NaN
1309          NaN

[1309 rows x 1 columns]

In [15]:
df1["isAgePreds"] = df1["Age"].isna().astype(int)

In [16]:
df1.fillna(y_test, inplace=True)

In [17]:
df1

                   Age  isAgePreds
PassengerId
1            22.000000           0
2            38.000000           0
3            26.000000           0
4            35.000000           0
5            35.000000           0
...                ...         ...
1305         39.934307           1
1306         39.000000           0
1307         38.500000           0
1308         29.646640           1
1309         -1.443537           1

[1309 rows x 2 columns]

# Save

In [18]:
df1.to_csv("./datasets/prepared_age.csv")